:root{
    --easy-color: lightblue;
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body{
    box-sizing: border-box;
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 10px auto;
    width: 850px;
    height: 280px;
    /* text-align: left; */
}




#hero{
    height: 250px;
    background: var(--easy-color);
}



#navbox{
    height: 30px;
    background: white;
}

img{
    position: relative;
    top: -265px;
    left: 18px;
    border: 1px solid lightpink;
}

#imagespace{
    width: 200px;
    height: 100%;

}

 #navtext {
    padding: 2px 0 0px 300px;
}

#pName{
    padding: 0px 0px 0px 305px;
    position: relative;
    top: 195px;
    color: white;
}

#ypn{
    font-size: 25px;
}

#pageName{

}

ul{  
    display: inline-block;
    margin: 2px 5px 0px 5px;
    padding: 0px;
    list-style-type: none;
}

li{
    display: inline;
    margin: 0px 2px 0px 2px;
    padding-right: 7px;
}

#timeline{
    font-weight: bold;
}

.needborder:not(:last-child){
    border-right: solid 1px var(--easy-color);
}

#columns{
    width: 850px;
    margin: 0px auto;
}

.column{
    float: left;
    /* background-color: white; */
    /* display: inline-block */
}

#leftColumn{
    width: 328px;

    margin: 0 10px 0 0;
    padding: 0;
}

#rightColumn{
    width: 512px;
    padding: 0;
}

.smallSection{
    margin-bottom: 10px;
    background-color: white;
    border-bottom: 2px solid var(--easy-color);
}

.secHeading{
    height: 30px;
    border-top: 2px solid var(--easy-color);
    border-bottom: 2px solid var(--easy-color);
    padding: 2px;
    font-size: 24px;
}

.secContent{
    padding: 3px;
}

.appSymbol{
    color: blueviolet;
    font-size: 30px;
}

.appText{
    position: relative;
}

.smallBoxG{
    /* margin: 2.5px; */
    height: 65px;
    width: 65px;
    background-color: greenyellow;
    display: inline-block
}
.smallBoxM{
    /* margin: 2.5px; */
    height: 65px;
    width: 65px;
    background-color: mediumvioletred;
    display: inline-block;
}
.smallBoxB{
    /* margin: 2.5px; */
    height: 65px;
    width: 65px;
    background-color: cyan;
    display: inline-block;
}


#friendTwo{
    height: 150px;
}